<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Servicios</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/facturas/add">Crear factura</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/facturas/list">Lista de Facturas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/trabajadores/lista">Lista de Trabajadores</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/trabajadores/add">Agregar Trabajador</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/clientes/list">Lista de Clientes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/serviciosOfrecidos/list">Lista de Servicios Ofrecidos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/serviciosOfrecidos/add">Agregar Servicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/solicitudes/list">Lista de Solicitudes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/solicitudes/add">Agregar Solicitud</a>
      </li>
    </ul>
  </div>
</nav>
