<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #78d7e4!important;">
  <a class="navbar-brand" href="#">
        <img  src="../assets/blanco.PNG" width="70" height="55" class="d-inline-block align-top" alt="">  In Your House </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto mt-0">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">Clientes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" class="nav-item nav-link"  [routerLink]="['/clientes/list']">Lista de clientes</a>
                  <a class="dropdown-item"class="nav-item nav-link" routerLink="/clientes/add" >Agregar Cliente</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">Trabajadores</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" class="nav-item nav-link"  [routerLink]="['/trabajadores/lista']" >Lista de trabajadores</a>
                  <a class="dropdown-item"class="nav-item nav-link" routerLink="/trabajadores/add" >Agregar Trabajador</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">Solicitudes</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" class="nav-item nav-link"  [routerLink]="['/solicitudes/list']" >Lista de solicitudes</a>
                  <a class="dropdown-item"class="nav-item nav-link" routerLink="/solicitudes/add" >Agregar Solicitud</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">Servicios</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" class="nav-item nav-link"  [routerLink]="['/serviciosOfrecidos/list']" >Lista de Servicios</a>
                  <a class="dropdown-item"class="nav-item nav-link" routerLink="/serviciosOfrecidos/add" >Agregar Servicio</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">Facturas</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" class="nav-item nav-link"  [routerLink]="['/facturas/list']" >Lista de facturas</a>
                  <a class="dropdown-item"class="nav-item nav-link" routerLink="/facturas/add" >Agregar Factura</a>
              </div>
          </li>
          <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-success my-2 my-sm-0" type="submit" routerLink="/home">LogIn</button>
              </form>
      </div>
  </div>
</nav>
