<br/><br/><br/><br/><br/>
<div class="media">
                <form name="solicitud" (ngSubmit)="f.form.valid && postSolicitud(f)" #f="ngForm" novalidate>
                        <div class="form-group">
                                <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"> Descripcion</span>
                                        </div>
                                        <input type="text" name="descripcion" class="form-control" id="descripcion" [(ngModel)]="solicitud.descripcion"
                                        #descripcion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && descripcion.invalid }" required>
                                    <div class="invalid-feedback">
                                        <div>The solicitud's descripcion is missing</div>
                                    </div>                                      </div>
                                      
                        </div>
                        <div class="row form-inline justify-content-center align-self-center">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <div class="divider"></div>
                            <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                        </div>
                    </form>
    </div>

    