<div class = "container-fluid row">
<div class = "col-md-6">
    <h1 class = "h3 p-3"> {{clienteDetail.nombre}} </h1>
    <div class = "table-responsive">
    <table class = "table table-dark">
      <thead>
        <tr>
          <th> Información </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Id </td>
          <td> {{clienteDetail.id}} </td>
        </tr>
        <tr>
          <td> Nombre </td>
          <td> {{clienteDetail.nombre}} </td>
        </tr>
        <tr>
          <td> Teléfono </td>
          <td> {{clienteDetail.telefono}} </td>
        </tr>
        <tr>
          <td> Mail </td>
          <td> {{clienteDetail.mail}} </td>
        </tr>
        <tr>
          <td> Usuario </td>
          <td> {{clienteDetail.usuario}} </td>
        </tr>
        <tr>
          <td> Direccion </td>
          <td> {{clienteDetail.direccion}} </td>
        </tr>
        <tr>
          <td> Tarjeta </td>
          <td> ****{{clienteDetail.tarjeta}} </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
  <div class="col-md-6">
      <br/>
      <br/>
    <h3>Lista de los servicios</h3>
    <div class = "table-responsive">
      <table class = "table table-dark">
        <thead>
          <tr><th>Servicios</th></tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>