<div><h2>
    Crear Trabajador
    </h2></div>
    <form name="trabajador" (ngSubmit)="f.form.valid && createTrabajador()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="adminNombre"><b>Nombre</b></label>
            <input type="text" name="adminNombre" class="form-control" id="adminNombre" [(ngModel)]="trabajador.nombre"
                #adminNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminNombre.invalid }" required>
            <div class="invalid-feedback">
                <div>The trabajador's nombre is missing</div>
            </div>
            <label for="adminUsuario"><b>Usuario</b></label>
            <input type="text" name="adminUsuario" class="form-control" id="adminUsuario" [(ngModel)]="trabajador.usuario"
                #adminUsuario="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminUsuario.invalid }" required>
            <div class="invalid-feedback">
                <div>The trabajador's usuario is missing</div>
            </div>
            <label for="adminContrasena"><b>Password</b></label>
            <input type="password" name="adminContrasena" class="form-control" id="adminContrasena" [(ngModel)]="trabajador.contrasena"
                #adminContrasena="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminContrasena.invalid }" required>
            <div class="invalid-feedback">
                <div>The trabajador's password is missing</div>
            </div>
            <label for="adminTelefono"><b>Telefono</b></label>
            <input type="number" name="adminTelefono" class="form-control" id="adminTelefono" [(ngModel)]="trabajador.telefono"
                #adminTelefono="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminTelefono.invalid }" required>
            <div class="invalid-feedback">
                <div>The trabajador's telefono is missing</div>
            </div>
            <label for="adminCorreo"><b>Correo</b></label>
            <input type="text" name="adminCorreo" class="form-control" id="adminCorreo" [(ngModel)]="trabajador.correo"
                #adminCorreo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminCorreo.invalid }" required>
            <div class="invalid-feedback">
                <div>The trabajador's correo is missing</div>
            </div>
            <label for="adminFoto"><b>Foto</b></label>
            <input type="text" name="adminFoto" class="form-control" id="adminFoto" [(ngModel)]="trabajador.foto"
                #adminFoto="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminFoto.invalid }" required>
            <div class="invalid-feedback">
                <div>The trabajador's foto is missing</div>
            </div>
            <label for="adminHojaDeVida"><b>Hoja de Vida</b></label>
            <input type="text" name="adminHojaDeVida" class="form-control" id="adminHojaDeVida" [(ngModel)]="trabajador.hojaVida"
                #adminHojaDeVida="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminHojaDeVida.invalid }" required>
            <div class="invalid-feedback">
                <div>The trabajador's hoja de vida is missing</div>
            </div>
            <label for="adminSeguroSocial"><b>Seguro Social</b></label>
            <input type="text" name="adminSeguroSocial" class="form-control" id="adminSeguroSocial" [(ngModel)]="trabajador.seguroSocial"
                #adminSeguroSocial="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminSeguroSocial.invalid }" required>
            <div class="invalid-feedback">
                <div>The trabajador's Seguro Social is missing</div>
            </div>
            <label for="adminRiesgos"><b>Riesgos</b></label>
            <input type="text" name="adminRiesgos" class="form-control" id="adminRiesgos" [(ngModel)]="trabajador.riesgos"
                #adminRiesgos="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminRiesgos.invalid }" required>
            <div class="invalid-feedback">
                <div>The trabajador's riesgos is missing</div>
            </div>
            
        </div>
        <div class="row form-inline justify-content-center align-self-center">
            <button type="submit" class="btn btn-primary">Create</button>
            <div class="divider"></div>
            <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
        </div>
    </form>
    