  
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
         <br>
            <h2 class="text-center">Agregar nuevo servicio Ofrecido</h2>
             <br>
                <form name="servicioOfrecido" (ngSubmit)="createServicioOfrecido()"  #f="ngForm" novalidate>
                    <div class="form-group  ">
                        <label for="servicioOfrecidoName"><b>Nombre</b></label>
                            <input 
                            type="text"
                            name="servicioOfrecidoName"
                             class="form-control" 
                            id="servicioOfrecidoName" 
                            [(ngModel)]="servicioOfrecido.nombre"
                            #servicioOfrecidoName="ngModel"
                            placeholder="Nombre del servico">    
            
                        <label for="serivioOfrecidoDescripcion"><b>Descripción</b></label>
                            <input  type="text"
                                    name="servicioOfrecidoDescripcion"
                                    class="form-control" 
                                    id="serivioOfrecidoDescripcion"
                                    [(ngModel)]="servicioOfrecido.descripcion"
                                    #servicioOfrecidoDescripcion="ngModel"
                                    placeholder="Descripción del servicio" >

                        <label for="serivioOfrecidoTipo"><b>Tipo</b></label>
                                <input class="form-control" 
                                    type="text"
                                    name="servicioOfrecidoTipo"
                                    id="serivioOfrecidoTipo"
                                    [(ngModel)]="servicioOfrecido.tipo"
                                    #servicioOfrecidoTipo="ngModel"
                                    placeholder="Tipo del servicio">
                

                             <label for="serivioOfrecidoPrecio"><b>Precio</b></label>
                             <input  type="number"
                                     name="servicioOfrecidoPrecio"
                                    class="form-control" 
                                    id="serivioOfrecidoPrecio"
                                    [(ngModel)]="servicioOfrecido.precio"
                                    #servicioOfrecidoPrecio="ngModel"
                                    placeholder="Precio del servicio">
                             </div>

                             <br>
                             <div class="row form-inline justify-content-center align-self-center">
                                 <button type="submit" class="btn btn-primary">Create</button>
                                 <div class="divider"></div>
                                 <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                             </div>                        
                    </form>
                    <br>
                </div>
            </div>
</div>

