
<form name="factura" (ngSubmit)="f.form.valid && createFactura()" #f="ngForm" novalidate>
    <div class="form-group">
        <label for="facturaId"><b>#ID de la factura</b></label>
        <input type="number" name="facturaId" class="form-control" id="facturaId" [(ngModel)]="factura.id"
            #facturaId="ngModel">
        <div class="invalid-feedback">
            <div>The factura id is missing</div>
        </div>
    </div>
    <label for="facturaDuracion"><b>Duracion del servicio (horas)</b></label>
    <input type="number" name="facturaDuracion" class="form-control" id="facturaDuracion" [(ngModel)]="factura.duracion"
        #facturaDuracion="ngModel">
    <div class="invalid-feedback">
        <div>The factura duracion is missing</div>
    </div>
    <label for="facturaFecha"><b>Fecha</b></label>
    <input type="datetime-local" name="facturaFecha" class="form-control" id="facturaFecha" [(ngModel)]="factura.fecha"
        #facturaFecha="ngModel">
    <div class="invalid-feedback">
        <div>The factura duracion is missing</div>
    </div>
    <label for="facturaPrecio"><b>Precio de los materiales</b></label>
    <input type="number" name="facturaPrecio" class="form-control" id="facturaPrecio" [(ngModel)]="factura.precioMateriales"
        #facturaPrecio="ngModel">
    <div class="invalid-feedback">
        <div>The factura duracion is missing</div>
    </div>
    <div class="row form-inline justify-content-center align-self-center">
        <button type="submit" class="btn btn-primary">Crear</button>
        <div class="divider"></div>
        <button type="button" class="btn btn-danger" (click)="cancelCreation()" href="#">Cancelar</button>
    </div>
</form>
