<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12">
         <br>
            <h2 class="text-center">Agregar nueva factura</h2>
             <br>
                <form name="factura" (ngSubmit)="createFactura()"  #f="ngForm" novalidate>
                    <div class="form-group  ">
                        <label for="facturaDuracion"><b>Duracion del servicio</b></label>
                            <input 
                            type="number"
                            name="facturaDuracion"
                             class="form-control" 
                            id="facturaDuracion" 
                            [(ngModel)]="factura.duracion"
                            #facturaDuracion="ngModel"
                            placeholder="Duracion del servicio">    
            
                        <label for="facturaPrecio"><b>Precio</b></label>
                            <input  type="number"
                                    name="facturaPrecio"
                                    class="form-control" 
                                    id="facturaPrecio"
                                    [(ngModel)]="factura.precioMateriales"
                                    #facturaPrecio="ngModel"
                                    placeholder="Precio de los materiales" >

                        <!-- <label for="serivioOfrecidoTipo"><b>Tipo</b></label>
                                <input class="form-control" 
                                    type="text"
                                    name="servicioOfrecidoTipo"
                                    id="serivioOfrecidoTipo"
                                    [(ngModel)]="servicioOfrecido.tipo"
                                    #servicioOfrecidoTipo="ngModel"
                                    placeholder="Tipo del servicio">
                

                             <label for="serivioOfrecidoPrecio"><b>Precio</b></label>
                             <input  type="text"
                                     name="servicioOfrecidoPrecio"
                                    class="form-control" 
                                    id="serivioOfrecidoPrecio"
                                    [(ngModel)]="servicioOfrecido.precio"
                                    #servicioOfrecidoPrecio="ngModel"
                                    placeholder="Precio del servicio"> -->
                             <!-- </div>

                             <br>
                             <div class="row form-inline justify-content-center align-self-center">
                                 <button type="submit" class="btn btn-primary">Create</button>
                                 <div class="divider"></div>
                                 <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                             </div>                        
                    </form>
                    <br>
                </div>
            </div>
</div> --> 
<p>Lorem ipsum</p>