
<ul class="nav">
	<li class="nav-item">
		<a class="nav-link active" routerLink="serviciosOfrecidos/list" routerLinkActive="active">Servicios Ofrecidos</a>
	</li>
</ul>
<div class="container-fluid">
	<div class="border m-5 row">
		<div class="col">
			<router-outlet></router-outlet>
		</div>
		<div class="col">
			<router-outlet name="detail"></router-outlet>
		</div>
	</div>

</div>

<div class="nav justify-content-center">
        <button type="button" class="btn btn-info nav-item nav-link" routerLink="/serviciosOfrecidos/add">Agregar Servcio</button>
</div>

