<div class="container">
	<div class="row">
		<b>Total de usuarios: </b> <p> &nbsp; {{total()}}</p>
	</div>
	<div class="row">
		<div class="card" style="width: 15rem;" *ngFor="let admin of admins">
			<img src={{admin.foto}} class="card-img-top">
			<div class="card-body">
				<h3 class="card-title">{{admin.nombre}}</h3>
				<ul>
					<li>Telefono: {{admin.telefono}}</li>
					<li>Correo: {{admin.correo}}</li>
				</ul>
				<a class="btn btn-primary" [routerLink] ="['/admins', { outlets: { 'detail': [admin.id] } }]">Ver perfil</a>
			</div>
		</div>
	</div>
</div>