<div class="container-fluid">
	<div class="media">
			<img src="https://png.pngtree.com/png-vector/20190804/ourlarge/pngtree-bag-worker-bag-user-interface-flat-color-icon-vector-png-image_1649444.jpg" width="200" height="200" class="mr-3" alt="...">
			<br/><br/>
			<div class="media-body row">
					<br/>
			  <h1 class="mt-0">{{trabajadorDetail.nombre}}-------------------------------------------------------------------</h1>
			  <br/><br/><br/><br/><br/>
			  	<div class="col-md-5">	
				<h1><span class="badge badge-secondary">Correo:</span></h1>
				<h5>{{trabajadorDetail.correo}}</h5>
			</div>
			<div class="col-md-5">	
				<h1><span class="badge badge-secondary">Id:</span></h1>
				<h5>{{trabajadorDetail.id}}</h5>
			</div>
			<div class="col-md-5">	
				<h1><span class="badge badge-secondary">Telefono:</span></h1>
				<h5>{{trabajadorDetail.telefono}}</h5>
			</div>
			<div class="col-md-5">	
					<h1><span class="badge badge-secondary">Seguro:</span></h1>
					<h5>{{trabajadorDetail.seguroSocial}}</h5>
				</div>
			</div>
		  </div>
  
  <p class="h3">
		Servicios ofrecidos: 
	</p>
	<div class="col">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
          <th>Servicio</th>
          <th>Completados</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let servicio of trabajadorDetail.servicios">
          <th>{{servicio.id}}</th>
		  <td>{{servicio.nombre}}</td>
						</tr>
			</tbody>
		</table>
	</div>
</div>