<div class="container-fluid">
  <p class="h3">
		Nombre: {{trabajadorDetail.nombre}}
	</p>
  <p class="h3">
		Correo: 
	</p>
  <p>
		{{trabajadorDetail.correo}} 
	</p>
  <p class="h3">
		Servicios ofrecidos: 
	</p>
	<div class="col">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
          <th>Servicio</th>
          <th>Completados</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let servicio of trabajadorDetail.servicios">
          <th>{{servicio.id}}</th>
		  <td>{{servicio.nombre}}</td>
						</tr>
			</tbody>
		</table>
	</div>
</div>