<h1>Solicitudes</h1>
<br/>
<div class="container-fluid">
    <div class="col-lg">
      <table class="table table-striped ">
        <thead class="thead-dark">
          <tr>
            <th style="text-align:center">Solicitud Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let s of solicitudes">
                      <td style="cursor: pointer; text-align:center">
                        <a class="figure-caption" [routerLink] ="['/solicitudes', { outlets: { 'detail': [s.id] }}]" >{{s.descripcion}}</a>
                      </td>
                                  
          </tr>
        </tbody>
      </table>
    </div>
</div>